body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.link {
    text-decoration: none;
    color: #000;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
  
}

.text {
    display: flex;
padding: 40px 0px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.photos {
    display: flex;
    width: 1400px;
    height: 552px;
    padding: 92px 400px 92px 401px;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
flex-direction: column;
align-items: center;
}

.text-2 {
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 31.5px */  
    width: 856px;
}

.content-title {
    display: flex;
padding: 88px 0px;
flex-direction: column;
align-items: center;
}
.content-title-1 {
    color: #000;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 135%; /* 64.8px */
padding: 0;
margin: 0;

}


.center {
    color: #161616;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
width: 856px;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #000;
  width: 100%;
  box-sizing: border-box;
}

.color {
    color: #04959E;
}

.nav {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px; 
    margin: 0;

}

button {
    display: flex;
padding: 10px 24px;
justify-content: center;
align-items: center;
background: #04959E;
}

span {
    color: #04959E;
}

hr {height: 1px;
    align-self: stretch;
    background: #161616;
}


.text-end {
    color: #161616;
    
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}